<cabecera titulo="Lista Conductoras"></cabecera>

<ion-content >
    <ion-list-header color="medium">
        <ion-label>LISTA CONDUCTORAS</ion-label>
      </ion-list-header>
  <ion-searchbar animated howCancelButton cancelButtonText="Cancelar" placeholder="Buscar por Nombre" [(ngModel)]="txtBuscar" (ionChange)="filtrar()" ></ion-searchbar>
  <ion-grid>
    <ion-row class="cabecera-tabla">
      <ion-col size="4">Nombre</ion-col>
      <ion-col size="2">Estado</ion-col>
      <ion-col size="3">Direccion</ion-col>
      <ion-col size="3">Telefono</ion-col>
    </ion-row>
    <ion-row *ngFor="let conductora of lstConductorasFiltradas" nowrap >
      <ion-col size="4" (click)="seleccionarConductora(conductora)" >{{conductora.nombre + ' ' + conductora.paterno + ' ' + conductora.materno}}</ion-col>
      <ion-col size="2" (click)="seleccionarConductora(conductora)" >{{conductora.estado}}</ion-col>
      <ion-col size="3" (click)="seleccionarConductora(conductora)" >{{conductora.direccion}}</ion-col>
      <ion-col size="3" (click)="abrirWhatsapp(conductora)" ><ion-icon color="whatsapp" name="logo-whatsapp"></ion-icon>{{conductora.celular}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="verdec" (click)="presentActionSheet()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
