<cabecera titulo="Detalle Imágenes"></cabecera>

<ion-content>
  <form>
    <subir-imagen titulo="Carnet de Identidad (Anverso)" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-ci'">
    </subir-imagen>

    <subir-imagen titulo="Carnet de Identidad (Reverso)" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-cireverso'">
    </subir-imagen>

    <subir-imagen titulo="Licencia" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-licencia'">
    </subir-imagen>

    <subir-imagen titulo="Factura Agua/Luz" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-factagualuz'">
    </subir-imagen>

    <subir-imagen titulo="Antecedentes FELCC" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-antfelcc'">
    </subir-imagen>

    <subir-imagen titulo="Antecedentes Tránsito" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-antfelcc'">
    </subir-imagen>

    <subir-imagen titulo="Otros" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-otros'">
    </subir-imagen>
  </form>
</ion-content>
