<cabecera-back titulo="Detalle Imágenes"></cabecera-back>

<ion-content>
  <form novalidate>
    <subir-imagen titulo="Foto" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-foto'">
    </subir-imagen>

    <subir-imagen titulo="Carnet de Identidad (Anverso)" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-ci'">
    </subir-imagen>

    <subir-imagen titulo="Carnet de Identidad (Reverso)" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-cireverso'">
    </subir-imagen>

    <subir-imagen titulo="Licencia" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-licencia'">
    </subir-imagen>
    <subir-imagen titulo="Licencia (Reverso)" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-licencia-reverso'">
    </subir-imagen>
    <subir-imagen titulo="SOAT" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-soat'">
    </subir-imagen>
    <subir-imagen titulo="Seguro" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-seguro'">
    </subir-imagen>
    <subir-imagen titulo="Inspección Vehicular" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-ins-veh'">
    </subir-imagen>
    <subir-imagen titulo="Permiso Municipal" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-per-munic'">
    </subir-imagen>
    <subir-imagen titulo="Factura Agua/Luz" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-factagualuz'">
    </subir-imagen>

    <subir-imagen titulo="Antecedentes FELCC" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-antfelcc'">
    </subir-imagen>

    <subir-imagen titulo="Antecedentes Tránsito" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-anttran'">
    </subir-imagen>

    <subir-imagen titulo="Otros" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-otros'">
    </subir-imagen>
    <subir-imagen titulo="Otros - 2" 
      [url-imagen]="'mav/conductora/'+conductora.id+'-otros-2'">
    </subir-imagen>
  </form>
</ion-content>
