<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Conductora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="vnombre" [(ngModel)]="conductora.nombre"></ion-input>
      </ion-item>
      <print-error [control]="f.vnombre"></print-error>
  
      <ion-item>
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input formControlName="vpaterno" [(ngModel)]="conductora.paterno"></ion-input>
      </ion-item>
      <print-error [control]="f.vpaterno"></print-error>
  
      <ion-item>
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input formControlName="vmaterno" [(ngModel)]="conductora.materno"></ion-input>
      </ion-item>
      <print-error [control]="f.vmaterno"></print-error>
  
      <ion-item>
        <ion-label position="stacked">Fecha Nacimiento</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">CI</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Tipo Licencia</ion-label>
        <ion-select placeholder="Selecionar uno">
          <ion-select-option value="A">A</ion-select-option>
          <ion-select-option value="B">B</ion-select-option>
          <ion-select-option value="C">C</ion-select-option>
          <ion-select-option value="P">P</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Género</ion-label>
        <ion-select placeholder="Selecionar uno">
          <ion-select-option value="F">Femenino</ion-select-option>
          <ion-select-option value="M">Masculino</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Número de Cuenta Bancaria</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Teléfono Fijo</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Número de Residencia</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
  
    </ion-list>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="form.invalid">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>