<cabecera-back titulo="Registro Clientes"></cabecera-back>

<ion-content>
    <ion-list-header color="medium">
        <ion-label>DATOS CLIENTE</ion-label>
      </ion-list-header>
    <form [formGroup]="frmCliente" novalidate>
      <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre Completo</ion-label>
        <ion-input formControlName="vnombre" name="vnombre"  [(ngModel)]="cliente.nombre"></ion-input>
      </ion-item>
      <print-error [control]="f.vnombre"></print-error>
      
      <ion-item>
        <ion-label position="stacked">Carnet de Identidad</ion-label>
        <ion-input [ngModelOptions]="{standalone: true}" name="vci"  [(ngModel)]="cliente.ci" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Pais</ion-label>
        <ion-select interface="popover" formControlName="vpais" placeholder="Seleccione el Pais"
          (ngModelChange)="filtrarCiudades($event)" [(ngModel)]="cliente.pais">
          <ion-select-option *ngFor="let parametros of lstPaisesFiltrados" value="{{parametros.pais}}">
            {{parametros.pais}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <print-error [control]="f.vpais"></print-error> 

      <ion-item>
        <ion-label position="stacked">Ciudad</ion-label>
        <ion-select interface='popover' formControlName="vciudad" placeholder="Seleccione la Ciudad"
          [(ngModel)]="cliente.ciudad">
          <ion-select-option *ngFor="let parametros of lstCiudadesFiltrado" value="{{parametros.ciudad}}">
            {{parametros.ciudad}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <print-error [control]="f.vciudad"></print-error>

      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input [ngModelOptions]="{standalone: true}" name="vdireccion"  [(ngModel)]="cliente.direccion"></ion-input>
      </ion-item>
      
      <div [ngClass]="myclass">
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input formControlName="vemail" name="vemail"  [(ngModel)]="cliente.email" (ionChange)="generarUsuario()"></ion-input>
        </ion-item>
        <print-error [control]="f.vemail"></print-error>  
      </div>
      
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input formControlName="vuser" name="vuser"  [(ngModel)]="cliente.user" disabled></ion-input>
      </ion-item>
      <print-error [control]="f.vuser"></print-error>

      <div [ngClass]="myclass">
        <ion-item >
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" formControlName="vpass" name="vpass"  [(ngModel)]="cliente.pass"></ion-input>
        </ion-item>
        <print-error [control]="f.vpass"></print-error>

        <ion-item *ngIf="!cliente.id">
          <ion-label position="stacked">Confirmar Contraseña</ion-label>
          <ion-input type="password" formControlName="vconfirmPass" name="vconfirmPass" ></ion-input>
        </ion-item>
        <print-error  [control]="f.vconfirmPass"></print-error>     
      </div>

      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input [ngModelOptions]="{standalone: true}" name="vtel"  [(ngModel)]="cliente.tel"></ion-input>
      </ion-item>
     

      <ion-item>
        <ion-label position="stacked">Celular</ion-label>
        <ion-input formControlName="vcel" name="vcel"  [(ngModel)]="cliente.cel"></ion-input>
      </ion-item>
      <print-error [control]="f.vcel"></print-error>    
        
    </ion-list>
        <ion-button expand="block" [disabled]="frmCliente.invalid" (click)="grabar()" color="verdec">Registrar</ion-button>
      </form>
    <div *ngIf="cliente.id" >
        <ion-list-header color="medium">
            <ion-label>DEPOSITOS CLIENTE</ion-label>
          </ion-list-header>
      <ion-grid>
        <ion-row class="cabecera-tabla">
          <ion-col size="3">Tipo</ion-col>
          <ion-col size="3">Fecha</ion-col>
          <ion-col size="3">Monto</ion-col>
          <ion-col size="3">Verificado</ion-col>
        </ion-row>
        <ion-row *ngFor="let deposito of lstDepositos" (click)="seleccionarDeposito(deposito)" nowrap >
          <ion-col size="3">{{deposito.tipo}}</ion-col>
          <ion-col size="3">{{deposito.fecha}}</ion-col>
          <ion-col size="3">{{deposito.monto}}</ion-col>
          <ion-col size="3">{{deposito.verificado}}</ion-col>
        </ion-row>
      </ion-grid>
    
      </div>

      <ion-fab *ngIf="cliente.id"  vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="verdec" (click)="presentActionSheet()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
</ion-content>
