<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="vuser" [(ngModel)]="user"></ion-input>
          </ion-item>
          <print-error [control]="f.vuser"></print-error>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="vpass" [(ngModel)]="pass" type="password"></ion-input>
          </ion-item>
          <print-error [control]="f.vpass"></print-error>

        </ion-list>

        <ion-button expand="block" shape="round" (click)="ingresar()" [disabled]="form.invalid">
          Ingresar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>