<ion-header>
  <ion-toolbar color="rosado">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle Contrato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form novalidate >
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Fecha Inicio</ion-label>
        <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha Fin</ion-label>
        <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha Inicio</ion-label>
        <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
      </ion-item>

    </ion-list>
  </form>

</ion-content>
