<cabecera-back titulo="Detalle Contrato"></cabecera-back>

<ion-content>
        <ion-list-header color="medium">
                <ion-label>REGISTRO CONTRATO</ion-label>
              </ion-list-header>
    <form [formGroup]="frmContrato" novalidate>
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Cliente</ion-label>
                <ion-input formControlName="vNombreCliente" readonly>{{cliente.nombre}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Codigo Contrato</ion-label>
                <ion-input formControlName="vCodigoContrato" [(ngModel)]="contrato.codigoContrato"></ion-input>
            </ion-item>
            <print-error [control]="f.vCodigoContrato"></print-error>
            <ion-item>
                <ion-label position="stacked">Pais</ion-label>
                <ion-select interface="popover" formControlName="vPais" placeholder="Seleccione el Pais"
                            (ngModelChange)="filtrarCiudades($event)" [(ngModel)]="contrato.pais">
                    <ion-select-option *ngFor="let parametros of lstPaisesFiltrados" value="{{parametros.pais}}">
                        {{parametros.pais}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <print-error [control]="f.vPais"></print-error>
            <ion-item>
                <ion-label position="stacked">Ciudad</ion-label>
                <ion-select interface='popover' formControlName="vCiudad" placeholder="Seleccione la Ciudad"
                            [(ngModel)]="contrato.ciudad" (ngModelChange)="filtrarConductoras($event)">
                    <ion-select-option *ngFor="let parametros of lstCiudadesFiltrado" value="{{parametros.ciudad}}">
                        {{parametros.ciudad}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <print-error [control]="f.vCiudad"></print-error>
            <ion-item *ngIf="lstConductoras">
                <ion-label position="stacked">Conductora</ion-label>
                <ion-select interface="popover" formControlName="vConductora" placeholder="Seleccione una Conductora"
                            [(ngModel)]="contrato.idConductora">
                    <ion-select-option *ngFor="let conductora of lstConductoras" value="{{conductora.id}}">
                        {{conductora.nombre +' '+ conductora.paterno}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!lstConductoras">
                <ion-label>No existen conductoras dentro de este criterio</ion-label>

            </ion-item>
            <print-error [control]="f.vConductora"></print-error>
            <ion-item>
                <ion-label position="stacked">Fecha/Hora Inicio</ion-label>
                <ion-datetime cancel-text="Cancelar" done-text="Aceptar" formControlName="vFechaInicio" [(ngModel)]="contrato.fechaInicio"
                              display-format="DD/MM/YYYY HH:mm" ></ion-datetime>
            </ion-item>
            <print-error [control]="f.vFechaInicio"></print-error>
            <ion-item>
                <ion-label position="stacked">Fecha Fin</ion-label>
                <ion-datetime cancel-text="Cancelar" done-text="Aceptar"  formControlName="vFechaFin" [(ngModel)]="contrato.fechaFin"
                              display-format="DD/MM/YYYY"></ion-datetime>
            </ion-item>
            <print-error [control]="f.vFechaFin"></print-error>
            <ion-item (click)="irMapaOrigen()">
                <ion-label>
                    <h2>Dirección Origen</h2>
                    <p >{{ direccionIni }}</p>
                    <!--<p >Long: {{ carrera.longInicio }}</p>-->
                  </ion-label>
                  <ion-icon name="locate" slot="end"></ion-icon>
            </ion-item>
            
            <ion-item>
                <ion-label position="stacked">Cantidad de Pasajeros</ion-label>
                <ion-input formControlName="vCantidadPasajeros" [(ngModel)]="contrato.cantidadPasajeros"></ion-input>
            </ion-item>
            <print-error [control]="f.vCantidadPasajeros"></print-error>
            <ion-item (click)="irMapaDestino()">
                <ion-label>
                    <h2>Dirección Destino</h2>
                    <p >{{ direccionFin }}</p>
                    <!--<p >Long: {{ carrera.longFin }}</p>-->
                  </ion-label>
                  <ion-icon name="locate" slot="end"></ion-icon>
            </ion-item>
           
           
            <ion-item>
                <ion-label position="stacked">Monto Total</ion-label>
                <ion-input formControlName="vMontoTotal" [(ngModel)]="contrato.montoTotal" type="number"></ion-input>
            </ion-item>
            
            <print-error [control]="f.vMontoTotal"></print-error>
            <ion-item>
                <ion-label position="stacked">Dias</ion-label>
                <ion-input formControlName="vDias" [(ngModel)]="contrato.dias" type="text"
                           (click)="presentAlertCheckbox()" readonly></ion-input>
            </ion-item>
            <print-error [control]="f.vDias"></print-error>
            <ion-item>
                <ion-label position="stacked">Costo Total</ion-label>
                <ion-input type="number" [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="costoTotal" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Descripcion Lugar</ion-label>
                <ion-textarea formControlName="vDescLugar" [(ngModel)]="txtDescripcionLugar" ></ion-textarea>
            </ion-item>
            <print-error [control]="f.vDescLugar"></print-error>
            <ion-item>
                <ion-label position="stacked">Tipo</ion-label>
                <ion-select interface="popover" placeholder="Seleccione el tipo de Deposito" formControlName="vTipoPago"
                            [(ngModel)]="contrato.tipoPago">
                    <ion-select-option value="Deposito en Cuenta">Deposito en Cuenta</ion-select-option>
                    <ion-select-option value="Efectivo en Caja">Efectivo en Caja</ion-select-option>
                    <ion-select-option value="Promocion">Promocion</ion-select-option>
                </ion-select>
            </ion-item>
            <print-error [control]="f.vTipoPago"></print-error>
            <ion-item>
                <ion-label position="stacked">Estado Pago</ion-label>
                <ion-input formControlName="vEstadoPago" [(ngModel)]="contrato.estadoPago"></ion-input>
            </ion-item>
            <print-error [control]="f.vEstadoPago"></print-error>
            <ion-item>
                <ion-label position="stacked">Estado Contrato</ion-label>
                <ion-select interface="popover" formControlName="vEstadoContrato" placeholder="Seleccione el Estado del Contrato"
                            [(ngModel)]="contrato.estado">
                    <ion-select-option value="0">Solcitado</ion-select-option>
                    <ion-select-option value="1">Aprobado</ion-select-option>
                    <ion-select-option value="2">Terminado</ion-select-option>
                    <ion-select-option value="3">Extendido</ion-select-option>
                </ion-select>
            </ion-item>
            <print-error [control]="f.vEstadoContrato"></print-error>
        </ion-list>


    </form>

    <ion-fab *ngIf="esNuevo" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="verdec" [disabled]="frmContrato.invalid" (click)="grabar()">
            <ion-icon name="send"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    
    <ion-fab *ngIf="!esNuevo" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="verdec" (click)="presentActionSheet()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>
