<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <div class="banner-menu" *ngIf="conductora">
          <div>
            <div style="float: left;">
              <ion-thumbnail slot="start">
                <img [src]="urlFoto" style="border-radius: 100%; border-color: white; border:3px;" *ngIf="urlFoto">
                <img src="assets/image/photo.png" *ngIf="!urlFoto">
              </ion-thumbnail>
            </div>
            <div style="float: right;">
              <ion-buttons slot="end">
                <ion-menu-toggle>
                  <ion-button (click)="irCerrarSesion()">
                    <ion-icon slot="icon-only" name="log-out"></ion-icon>
                  </ion-button>
                </ion-menu-toggle>
              </ion-buttons>
            </div>
          </div>
          <br style="clear: both;"/>
          <br />
          <div>
            <div style="float: left;margin-top:0.5rem;width:80%">
              <ion-label slot="start">
                {{conductora?.nombre}} {{conductora?.paterno}} {{conductora?.materno}}
              </ion-label>
            </div>
            <div style="float: right;">
              <ion-buttons slot="end">
                <ion-menu-toggle>
                  <ion-button (click)="irDetalleConductora()">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                  </ion-button>
                </ion-menu-toggle>
              </ion-buttons>
            </div>
          </div>
          <br style="clear: both;"/>
        </div>
      </ion-header>
      <ion-content>
        <ion-list *ngIf="conductora">
          
          <ion-menu-toggle auto-hide="false" >
            <div class="titulos-menu">
            Administracion
            </div>
            <div *ngFor="let p of appPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" (click)="irPagina(p)" *ngIf="p.admin === conductora.admin">
                    <ion-icon slot="start" [name]="p.icon"></ion-icon>
                    <ion-label>
                      {{p.title}}
                    </ion-label>
                  </ion-item>
            </div>
            <div class="titulos-menu">
            Conductoras
            </div>
            <div *ngFor="let p of appPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" (click)="irPagina(p)" *ngIf="p.admin !== conductora.admin">
                    <ion-icon slot="start" [name]="p.icon"></ion-icon>
                    <ion-label>
                      {{p.title}}
                    </ion-label>
                  </ion-item>
            </div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>