<cabecera titulo="Clientes"></cabecera>
<ion-content>
    <ion-list-header color="verdec">
        <ion-label>LISTA DE CLIENTES</ion-label>
      </ion-list-header>
    <ion-searchbar showCancelButton cancelButtonText="Cancelar" placeholder="Buscar por Nombre" [(ngModel)]="txtBuscarCliente" (ionChange)="filtrar()" ></ion-searchbar>
    <ion-grid>
      <ion-row class="cabecera-tabla">
        <ion-col size="4">Nombre</ion-col>
        <ion-col size="2">Estado</ion-col>
        <ion-col size="3">Direccion</ion-col>
        <ion-col size="3">Telefono</ion-col>
      </ion-row>
      <ion-row style="color:white;" *ngFor="let cliente of lstClientesFiltrado"  nowrap >
        <ion-col size="4" (click)="seleccionarCliente(cliente)">{{cliente.nombre}}</ion-col>
        <ion-col size="2" (click)="seleccionarCliente(cliente)">
          <span *ngIf="cliente.estado" style="font-size: 1.5em !important" ><ion-icon color="whatsapp" name="checkmark"></ion-icon></span>
          <span *ngIf="!cliente.estado" style="font-size: 1.5em !important" ><ion-icon color="danger" name="close"></ion-icon></span>
        </ion-col>
        <ion-col size="3" (click)="seleccionarCliente(cliente)">{{cliente.direccion}}</ion-col>
        <ion-col size="3" (click)="abrirWhatsapp(cliente)"><ion-icon color="whatsapp" name="logo-whatsapp"></ion-icon>{{cliente.cel}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="verdec" (click)="presentActionSheet()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
