<cabecera titulo="Clientes"></cabecera>
<ion-content>
    <ion-card-header>
      <ion-card-title>Lista de Clientes</ion-card-title>
    </ion-card-header>
    <ion-searchbar showCancelButton cancelButtonText="Cancelar" placeholder="Buscar por Nombre" [(ngModel)]="txtBuscarCliente" (ionChange)="filtrar()" ></ion-searchbar>
    <ion-grid>
      <ion-row class="cabecera-tabla">
        <ion-col size="4">Nombre</ion-col>
        <ion-col size="2">Estado</ion-col>
        <ion-col size="3">Direccion</ion-col>
        <ion-col size="3">Telefono</ion-col>
      </ion-row>
      <ion-row *ngFor="let cliente of lstClientesFiltrado" (click)="seleccionarCliente(cliente)" nowrap >
        <ion-col size="4">{{cliente.nombre}}</ion-col>
        <ion-col size="2">{{cliente.estado}}</ion-col>
        <ion-col size="3">{{cliente.direccion}}</ion-col>
        <ion-col size="3">{{cliente.cel}}</ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
