<cabecera-back titulo="Detalle Vehículo"></cabecera-back>

<ion-content>
  <form [formGroup]="form" novalidate *ngIf="vehiculo">
    <ion-list>
    <ion-item>
        <ion-label position="floating">Placa</ion-label>
        <ion-input formControlName="vplaca" [(ngModel)]="vehiculo.placa" type="text"></ion-input>
      </ion-item>
      <print-error [control]="f.vplaca"></print-error>
      <ion-item>
        <ion-label position="floating">Capacidad</ion-label>
        <ion-input formControlName="vcapacidad" [(ngModel)]="vehiculo.capacidad" type="number"></ion-input>
      </ion-item>
      <print-error [control]="f.vcapacidad"></print-error>

      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input formControlName="vmarca" [(ngModel)]="vehiculo.marca"></ion-input>
      </ion-item>
      <print-error [control]="f.vmarca"></print-error>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input formControlName="vmodelo" [(ngModel)]="vehiculo.modelo" type="number"></ion-input>
      </ion-item>
      <print-error [control]="f.vmodelo"></print-error>

      <ion-item>
        <ion-label position="floating">Color</ion-label>
        <ion-input formControlName="vcolor" [(ngModel)]="vehiculo.color" type="text"></ion-input>
      </ion-item>
      <print-error [control]="f.vcolor"></print-error>
    </ion-list>
    <div padding>
      <ion-button color="verdec" expand="block" shape="round" (click)="grabar()" [disabled]="form.invalid || !form.dirty">
        Grabar
      </ion-button>
    </div>
  </form>

  <form *ngIf="vehiculo && vehiculo.id">
    <subir-imagen titulo="Imagen RUAT" 
      [url-imagen]="'mav/vehiculo/'+vehiculo.id+'-ruat'"></subir-imagen>
      <subir-imagen titulo="Imagen RUAT (Reverso)" 
      [url-imagen]="'mav/vehiculo/'+vehiculo.id+'-ruat-reverso'"></subir-imagen>
    
    <subir-imagen titulo="Imagen Vehículo"
      [url-imagen]="'mav/vehiculo/'+vehiculo.id+'-vehiculo'"></subir-imagen>
  </form>
</ion-content>