<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Capacidad</ion-label>
        <ion-input formControlName="vcapacidad" [(ngModel)]="vehiculo.capacidad" type="number"></ion-input>
      </ion-item>
      <print-error [control]="f.vcapacidad"></print-error>

      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input formControlName="vmarca" [(ngModel)]="vehiculo.marca"></ion-input>
      </ion-item>
      <print-error [control]="f.vmarca"></print-error>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input formControlName="vmodelo" [(ngModel)]="vehiculo.modelo" type="number"></ion-input>
      </ion-item>
      <print-error [control]="f.vmodelo"></print-error>
    </ion-list>
    <div padding>
      <ion-button expand="block" shape="round" (click)="grabar()" [disabled]="form.invalid">
        Grabar
      </ion-button>
    </div>
  </form>

  <form>
    <ion-card>

      <ion-card-header>
        <ion-card-title>Imagen RUAT</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img [src]="urlImgRuat | async" />
        <div class="fileUpload">
          <span>Cargar Imagen</span>
          <input type="file" class="upload" (change)="uploadImgRuat($event)" />
        </div>
      </ion-card-content>

    </ion-card>
  </form>

  <form>
    <ion-card>

      <ion-card-header>
        <ion-card-title>Imagen Vehículo</ion-card-title>
        <img [src]="urlImgVehiculo | async" />
      </ion-card-header>

      <ion-card-content>
        <div class="fileUpload">
          <span>Cargar Imagen</span>
          <input type="file" class="upload" (change)="uploadImgVehiculo($event)" />
        </div>
      </ion-card-content>

    </ion-card> 
  </form>
</ion-content>