<ion-header>
  <ion-toolbar>
    <ion-title>detalle-vehiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Capacidad</ion-label>
        <ion-input formControlName="vcapacidad" [(ngModel)]="vehiculo.capacidad" type="number"></ion-input>
      </ion-item>
      <print-error [control]="f.vcapacidad"></print-error>

      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input formControlName="vmarca" [(ngModel)]="vehiculo.marca"></ion-input>
      </ion-item>
      <print-error [control]="f.vmarca"></print-error>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input formControlName="vmodelo" [(ngModel)]="vehiculo.modelo"></ion-input>
      </ion-item>
      <print-error [control]="f.vmodelo"></print-error>

      
    </ion-list>
  </form>
</ion-content>