<ion-header>
    <ion-toolbar color="rosado">
      <ion-title>Cliente</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cerrar()"><ion-icon name="close"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list *ngIf="cliente">
    <ion-item *ngIf="codigoColorCliente">
      <ion-label [ngStyle]="{'color': codigoColorCliente}">Color Cliente</ion-label>
      <ion-select cancelText="Cancelar" placeholder="Select One" (ionChange)="cambiarColor()" [(ngModel)]="codigoColorCliente">
        <ion-select-option value="{{color.codigo}}" *ngFor="let color of colores">{{color.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cliente</ion-label>
      <ion-input value="{{ cliente.nombre }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input value="{{ cliente.tel }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Celular</ion-label>
      <ion-input value="{{ cliente.cel }}" readonly></ion-input>
      <ion-icon *ngIf="cliente.cel" (click)="irWhatsApp()" slot="end" name="logo-whatsapp" style="color: #00E676"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input value="{{ cliente.email }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input value="{{ cliente.direccion }}" readonly></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
