<cabecera titulo="Deposito"></cabecera>

<ion-content padding>
    <form [formGroup]="frmDeposito">
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Tipo</ion-label>
                <ion-select placeholder="Seleccione el tipo de Deposito" formControlName="vTipo" [(ngModel)]="deposito.tipo">
                  <ion-select-option value="Deposito en Cuenta">Deposito en Cuenta</ion-select-option>
                  <ion-select-option value="Efectivo en Caja">Efectivo en Caja</ion-select-option>
                  <ion-select-option value="Promocion">Promocion</ion-select-option>
                </ion-select>
              </ion-item>
              <print-error [control]="f.vTipo"></print-error>
              <ion-item >
                <ion-label position="stacked">Fecha</ion-label>
                <ion-datetime formControlName="vFecha" [(ngModel)]="deposito.fecha" display-format="DD/MM/YYYY"></ion-datetime>
                </ion-item>
              <print-error [control]="f.vFecha"></print-error>
              <ion-item >
                  <ion-label position="stacked">Monto</ion-label>
                  <ion-input formControlName="vMonto" [(ngModel)]="deposito.monto" ></ion-input>
              </ion-item>
              <print-error [control]="f.vMonto"></print-error>
              <ion-item >
                <ion-label >Verificado</ion-label>
                <ion-toggle [(ngModel)]="deposito.verificado" color="rosado" formControlName="vVerificado"></ion-toggle>
              </ion-item>
              <print-error [control]="f.vVerificado"></print-error>

              <ion-item>
                  <ion-label position="stacked">Observaciones</ion-label>
                  <ion-textarea [(ngModel)]="deposito.observaciones" formControlName="vObservaciones"></ion-textarea>
              </ion-item>
              <print-error [control]="f.vObservaciones"></print-error>
        </ion-list>
        <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="grabar()" color="verdec" [disabled]="frmDeposito.invalid" >
              <ion-icon name="save"></ion-icon>
            </ion-fab-button>
          </ion-fab>
      </form>

</ion-content>
